conda_env/.ipynb_checkpoints/exporting-checkpoint.ipynb
conda_env/.ipynb_checkpoints/exporting-checkpoint.ipynb
protein_ligand/neuralPlexer/neuralplexermodels_downstream_datasets_predictions/predictions/post2019targets/msa512_set1to5/default/af2_template_msa512/inferred_prior/langevin_simulated_annealing_T1.0_NFE100/model1/6w0yA/lig_5.sdf
conda_env/.ipynb_checkpoints/prolig_0001-checkpoint.yml
conda_env/.ipynb_checkpoints/prolig_0001-checkpoint.yml
**/*.png
**/*.pdb
protein_ligand/neuralPlexer/neuralplexermodels_downstream_datasets_predictions/downstream_test_datasets/complex_structure_prediction/af2templates_colabfold_predictions_Feb2023/gpcrs_pred032423/set_512_1234/1apc_A_unrelaxed_rank_4_model_2_scores.json
protein_ligand/neuralPlexer/.ipynb_checkpoints/installation-checkpoint.ipynb
protein_ligand/neuralPlexer/test_7cki/.ipynb_checkpoints/test_7cki_use_sequence-checkpoint.ipynb
conda_env/.ipynb_checkpoints/environment_info-checkpoint.csv
conda_env/.ipynb_checkpoints/tvnEnv0002_modeller-checkpoint.ipynb
protein_ligand/neuralPlexer/test_7cki/.ipynb_checkpoints/7CKI-checkpoint.fasta
protein_ligand/neuralPlexer/test_7cki/.ipynb_checkpoints/lig_all-checkpoint.sdf
protein_ligand/neuralPlexer/test_7cki/.ipynb_checkpoints/test_7cki_use_pdb_file-checkpoint.ipynb
protein_ligand/neuralPlexer/bCa_co2/.ipynb_checkpoints/bCA_1V9E_use_pdb_file-checkpoint.ipynb
protein_ligand/neuralPlexer/bCa_co2/.ipynb_checkpoints/c02_ChEBI_16526-checkpoint.sdf
protein_ligand/neuralPlexer/bCa_co2/.ipynb_checkpoints/h2o_ChEBI_15377-checkpoint.sdf
protein_ligand/neuralPlexer/test_7cki/.ipynb_checkpoints/PDBBind2019+bychain_AF2selected_benchmarking_summary-checkpoint.csv
protein_ligand/neuralPlexer/test_7cki/5ZE6A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/5ZE6A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/5ZE6A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/5ZLFA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/5ZLFA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/5ZLFA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/5ZR3A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/5ZR3A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/5ZR3A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/5ZXKA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/5ZXKA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/5ZXKA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6A6KA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6A6KA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6A6KA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6A73A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6A73A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6A73A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6C85A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6C85A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6C85A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6CF7A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6CF7A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6CF7A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6CJPA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6CJPA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6CJPA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6V5LA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6CJRA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6CJRA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6CJRA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6CJSA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6CJSA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6CJSA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6CKLA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6CKLA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6CKLA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6CYHA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6CYHA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6CYHA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6DYZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6DYZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6DYZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ0A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ0A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ0A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ2A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ2A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ2A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ3A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ3A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6DZ3A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6E3MA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6E3MA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6E3MA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6E3PA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6E3PA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6E3PA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6E3ZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6E3ZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6E3ZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6E4CA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6E4CA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6E4CA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6E4VA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6E4VA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6E4VA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6E6VA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6E6VA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6E6VA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6FCJA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6FCJA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6FCJA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6FE5A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6FE5A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6FE5A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G24A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G24A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G24A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G25A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G25A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G25A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G27A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G27A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G27A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G29A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G29A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G29A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G2BA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G2BA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G2BA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G2CA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G2CA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G2CA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G2EA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G2EA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G2EA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G2FA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G2FA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G2FA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G2OA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G2OA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G2OA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6G3CA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6G3CA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6G3CA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ5A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ5A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ5A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ6A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ6A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ6A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ7A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ7A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ7A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ8A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ8A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6GJ8A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6GZYA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6GZYA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6GZYA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6H7DA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6H7DA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6H7DA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6H9VA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6H9VA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6H9VA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6HBNA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6HBNA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6HBNA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6HHRA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6HHRA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6HHRA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6HMYA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6HMYA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6HMYA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6I8TA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6I8TA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6I8TA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6IBXA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6IBXA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6IBXA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6IBYA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6IBYA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6IBYA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6IBZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6IBZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6IBZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6IC0A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6IC0A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6IC0A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6INZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6INZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6INZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6IQLA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6IQLA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6IQLA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6J06A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6J06A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6J06A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6J9WA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6J9WA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6J9WA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JAMA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JAMA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JAMA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JSEA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JSEA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JSEA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JSFA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JSFA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JSFA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JSGA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JSGA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JSGA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JSNA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JSNA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JSNA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JSZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JSZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JSZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JT3A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JT3A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JT3A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6JUTA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6JUTA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6JUTA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6KQIA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6KQIA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6KQIA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MHCA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MHCA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MHCA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MHDA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MHDA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MHDA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MIVC/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MIVC/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MIVC/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MIYC/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MIYC/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MIYC/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MJ4C/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MJ4C/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MJ4C/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MJAC/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MJAC/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MJAC/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MJIC/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MJIC/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MJIC/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MJJC/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MJJC/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MJJC/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MJQC/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MJQC/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MJQC/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MO0A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MO0A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MO0A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MO2A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MO2A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MO2A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6MO9A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6MO9A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6MO9A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6N0MA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6N0MA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6N0MA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6N4BR/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6N4BR/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6N4BR/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6N53A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6N53A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6N53A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6N9LA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6N9LA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6N9LA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6ND3A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6ND3A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6ND3A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6NP2A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6NP2A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6NP2A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6NRIA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6NRIA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6NRIA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6NRJA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6NRJA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6NRJA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6O0HA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6O0HA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6O0HA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OD6A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OD6A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OD6A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OI8A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OI8A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OI8A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OIEA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OIEA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OIEA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OIMA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OIMA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OIMA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OINA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OINA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OINA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OIOA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OIOA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OIOA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OIPA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OIPA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OIPA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OIQA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OIQA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OIQA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OIRA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OIRA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OIRA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OM4A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OM4A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OM4A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OS5A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OS5A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OS5A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OS6A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OS6A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OS6A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OTTA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OTTA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OTTA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6OXZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6OXZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6OXZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6P8XA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6P8XA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6P8XA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6P8YA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6P8YA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6P8YA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6P8ZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6P8ZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6P8ZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PGOA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PGOA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PGOA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PGPA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PGPA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PGPA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PNMA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PNMA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PNMA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PNNA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PNNA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PNNA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PY0A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PY0A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PY0A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PYAA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PYAA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PYAA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PYBA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PYBA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PYBA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6PZ4A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6PZ4A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6PZ4A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6Q36A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6Q36A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6Q36A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6Q38A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6Q38A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6Q38A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6Q4QA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6Q4QA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6Q4QA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QI7A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QI7A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QI7A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QMRA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QMRA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QMRA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QMTA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QMTA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QMTA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QREA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QREA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QREA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QSZA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QSZA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QSZA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTMA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTMA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTMA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTOA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTOA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTOA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTQA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTQA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTQA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTRA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTRA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTRA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTSA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTSA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTSA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTWA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTWA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTWA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QTXA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QTXA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QTXA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QUVA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QUVA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QUVA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QXAA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QXAA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QXAA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6QZHA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6QZHA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6QZHA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6RNUA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6RNUA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6RNUA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6RPGA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6RPGA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6RPGA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6RR0A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6RR0A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6RR0A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6RZ6A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6RZ6A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6RZ6A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6SENA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6SENA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6SENA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6SEOA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6SEOA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6SEOA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6TE6A/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6TE6A/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6TE6A/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6TELA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6TELA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6TELA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6TENA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6TENA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6TENA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6UEGA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6UEGA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6UEGA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6UVPA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6UVPA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6UVPA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6UVVA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6UVVA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6UVVA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6UVYA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6UVYA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6UVYA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6UWPA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6UWPA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6UWPA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6UWVA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6UWVA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/6UWVA/lig_ref.sdf
protein_ligand/neuralPlexer/test_7cki/6V5LA/lig_0.sdf
protein_ligand/neuralPlexer/test_7cki/6V5LA/lig_all.sdf
protein_ligand/neuralPlexer/test_7cki/PDBBind2019+bychain_AF2selected_benchmarking_summary.csv
conda_env/.ipynb_checkpoints/tvnEnv0003_colabfold-checkpoint.yml
protein_ligand/colabfold/.ipynb_checkpoints/colabfold_installation-checkpoint.ipynb
